header {
  .header__container {
    padding: 49px 0px 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__navbar {
  .navbar__item {
    margin-right: 74px;
    .navbar__link {
      color: #000;
      @include dm_sans;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
    }
  }
}

.header__btn {
  @include dm_sans;
  font-weight: 700;
  background-color: $primary;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  border-radius: 10px;
  padding: 20px 35px;
 cursor: pointer;
}

.header__maintitle {
  background-image: url(../img/header_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 717px;
}

.maintitle__titlebox {
  padding-top: 197px;
  padding-left: 107px;
  width: 661px;
  h1 {
    @include dm_sans;
    font-weight: 700;
    padding: 0;
    font-size: 72px;
    //line-height: 94px;
    color: #fff;
  }

  p {
    @include dm_sans;
    font-size: 19px;
    color: #fff;
    line-height: 25px;
    font-weight: 400;
  }
}

