*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1303px;
  margin: 0 auto;
  padding: 0 15px;
}

li {
  display: inline;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

